
<header>
  <nav class="navbar navbar-expand-sm border-bottom">
    <div class="container d-flex justify-content-between">
      <!-- Left side: Account dropdown -->
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user"></i>
          {{#if user.username}}{{user.username}}{{else}}Account{{/if}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="accountDropdown">
          <li><a class="dropdown-item" href="/profile">Profile</a></li>
          <li><a class="dropdown-item" href="/settings">Settings</a></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </div>

      <!-- Right side: Home and Scoreboard buttons -->
      <div class="d-flex">
        <a id="home-link" class="nav-link me-3" href="/home">
          <i class="fas fa-home"></i> Home
        </a>
        <a id="scoreboard-link" class="nav-link" href="/scoreboard">
          <i class="fas fa-trophy"></i> Scoreboard
        </a>
      </div>
    </div>
  </nav>
</header> 
