<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Scoreboards</title>
     <link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
   rel="stylesheet"
 />
 <style>
   @font-face {
     font-family: 'Pixelify Sans';
     src: url('fonts/PixelifySans-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
   }


   @font-face {
     font-family: 'Pixelify Sans';
     src: url('fonts/PixelifySans-Medium.ttf') format('truetype');
     font-weight: 500;
     font-style: normal;
   }


   @font-face {
     font-family: 'Pixelify Sans';
     src: url('fonts/PixelifySans-Bold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
   }
   .bg-container {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-image: url('img/homeBackdrop.jpg');
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       opacity: 0.7;
       z-index: -1;
   }
   body {
     font-family: 'Pixelify Sans';
     text-align: center;
     background-color: #959595;
     margin: 0;
     padding: 0;
   }
   .table {
     opacity: 0.8;
   }
 </style>
</head>


<body>
 <div class="bg-container"></div>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 ">
     <div class="container">
       <a class="navbar-brand" href="#">Leaderboards</a>
         <div class="collapse navbar-collapse">
       <ul class="navbar-nav me-auto">
         <li class="nav-item">
           <a class="nav-link {{#if isGeoguessr}}active{{/if}}" href="/scoreboard?type=geoguessr">Geoguessr</a>
         </li>
         <li class="nav-item">
           <a class="nav-link {{#if isWordle}}active{{/if}}" href="/scoreboard?type=wordle">Wordle</a>
         </li>
         <li class="nav-item">
           <a class="nav-link {{#if isTrivia}}active{{/if}}" href="/scoreboard?type=trivia">Trivia</a>
         </li>
         <li class="nav-item">
           <a class="nav-link {{#if isCrossword}}active{{/if}}" href="/scoreboard?type=crossword">Crossword</a>
         </li>
       </ul>
     </div>
   </div>
 </nav>


 <div class="container">
   <h1 class="mb-4">{{title}}</h1>
   <div class="table-responsive">
     <table class ="table table-striped table-hover">
       <thead class="table-dark">
         <tr>
           <th scope="col">Rank</th>
           <th scope="col">Username</th>
           <th scope="col">Score</th>
         </tr>
       </thead>
       <tbody>
         {{#each leaderboard}}
         <tr>
           <td>{{add @index 1}}</td>
           <td>{{this.username}}</td>
           <td>{{this.score}}</td>
         </tr>
         {{/each}}
       </tbody>
     </table>
   </div>
 </div>
</body>
</html>