<html>
    <head>
        <title>Wordle</title>
        <meta charset="UTF-8">

        <!-- below is used for scaling for different devicses-->
        <meta name="viewport" content="width=device-width, initial-scale= 0, user-scalable=no">

        <!-- Links javascript and css files-->
         <link rel="stylesheet" href="css/wordle.css">
         <script src="js/wordle.js"></script>
    </head>

    <body>
        <!-- Header-->
        <h1 id="title">Wordle</h1>
        <hr>
        <br>
        <div id="board">

        </div>

        <br>
        <h1 id="answer"></h1>
    </body>
</html>

<!-- ids are used for sytling and accessing the element is javascript. Different from class because they must be unique-->