<html>
    <head>
        <title>Wordle</title>
        <meta charset="UTF-8">

        <!-- below is used for scaling for different devicses-->
        <meta name="viewport" content="width=device-width, initial-scale= 0, user-scalable=no">

        <!-- Links javascript and css files-->
         <link rel="stylesheet" href="css/wordle.css">
         <script src="js/wordle.js"></script>
    </head>

    <body>
        <div class="bg-container"></div>
        <!-- Header-->
        <div class="games-wrapper">
            <h1 id="title" style="color: white; font-family: 'Pixelify Sans', sans-serif; font-weight: bold;">Wordle</h1>
        </div>
        <br>
        <div class="games-wrapper">
            <div id="board">

            </div>
        </div>

        <br>
        <h1 id="answer"></h1>
    </body>
</html>

<!-- ids are used for sytling and accessing the element is javascript. Different from class because they must be unique-->